@import "bootstrap/dist/css/bootstrap.css";

$background-primary-color: #282c34;
$primary-color: white;
$gameover-color: orangered;

.App {
  background-color: $background-primary-color;
  color: $primary-color;
  font-size: calc(8px + 2vmin);
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s alternate;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-45deg);
  }
}

.nav-margin {
  margin-top: -5%;
  margin-bottom: 10%;
  border: solid turquoise;
  border-width: 1px 0px 1px 0px;
}

.invalid-feedback{
  font-size: 10pt;
}

.Board-game {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;

  h1 {
    margin-bottom: 40px;
  }

  img {
    height: 32pt;
    width: 32pt;
  }

  .GameOver {
    color: $gameover-color;
  }

  .player-name {
    color: paleturquoise;
    font-style: italic;
  }

  .step-in-list {
    display: inline-block;
    border-style: double;
    border-width: 4px 0px 4px 0px;
  }
  .step-start {
    @extend .step-in-list;
    border-color: limegreen;
  }
  .step-gameover {
    @extend .step-in-list;
    border-color: $gameover-color;
  }
  .step-round {
    display: inline-block;
    border: solid goldenrod;
    border-width: 0px 0px 1px 0px;
  }

  .btn-function {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    ;
  }

  .alert-ext {
    margin: 10px 50px;
    font-size: calc(10px + 0.5vmin);
    height: 20px;

    svg {
      height: 16pt;
      width: 16pt;
      margin-top: 6px;
    }
  }

  .padding-settings {
    padding: 10px 50px;
    border: solid turquoise;
    border-width: 0px 1px 1px 1px;
  }
}

.Status-bar {
  $text-font-size: 16px;
  $text-width: 44px;
  $range-height: 16px;

  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: $text-width;
  padding-right: $text-width;
  height: 60px;
  position: relative;

  .hint-text {
    font-size: $text-font-size;
    position: absolute;
    width: $text-width;
    overflow: hidden;
  }

  .limit {
    $limit-color: silver;

    background-color: $limit-color;
    height: 4px;
    position: inherit;
    top: 50%;

    .limit-text {
      @extend .hint-text;
      color: $limit-color;
      bottom: -30px;
    }

    .limit-min {
      @extend .limit-text;
      left: calc(0% - $text-width);
      text-align: right;
    }

    .limit-max {
      @extend .limit-text;
      right: calc(0% - $text-width);
      text-align: left;
    }
  }

  .range {
    $range-color: turquoise;
    $range-min-color: paleturquoise;

    background-color: $range-color;
    height: $range-height;
    position: inherit;
    top: calc(50% - 10px);

    .range-text {
      @extend .hint-text;
      top: -24px;
    }

    .range-min {
      @extend .range-text;
      color: $range-min-color;
      left: calc(0% - $text-width);
      text-align: right;
    }

    .range-max {
      @extend .range-text;
      color: $range-color;
      right: calc(0% - $text-width);
      text-align: left;
    }
  }

  .jolly {
    $border-width: 2px;

    background-color: $gameover-color;
    border: $border-width solid yellow;
    height: $range-height;
    width: $range-height;
    position: inherit;
    top: calc(50% - 10px);
    border-radius: 50%;

    .jolly-text {
      @extend .hint-text;
      color: $gameover-color;
      margin-top: -30px;
      text-align: center;
      left: calc(-50% - $text-font-size/2 - $border-width);
    }
  }

  // @for $i from 0 through 100 {
  //   .range-#{$i} {
  //     @extend .range;
  //     width: #{$i}#{"%"};
  //   }
  // }
  // @for $i from 0 through 100 {
  //   .range-offset-#{$i} {
  //     left: #{$i}#{"%"};
  //   }
  // }
}